body{
  background-color: rgb(0, 0, 0);
  position: absolute;
}

.first{
  background-color: rgb(255, 255, 255);
}

.image-container img{
  position: absolute;
  width: 900px;
  height: 700px;
  margin-left: 300px;
  top: 30px;
}

.image-container-a img{
    width:700px;
    height:800px;
    margin-left: 400px;
}

  .image-container-b img{
    width:1300px;
    height:800px;
    margin-left: 70px;

  } 

  .image-container-c img{
    width:500px;
    height:300px;
    margin-left: 90px;
    position: absolute;
    top: 280px;

  } 

  .image-container-d img{
    position: absolute;
    width:500px;
    height:600px;
    margin-left: 750px;
    top:150px ;

  } 

.image-container-e img{
    width:400px;
    height:300px;
    margin-left: 90px;
    position: absolute;
    top: 280px;

  } 

  .image-container-f img{
    position: absolute;
    width:400px;
    height:300px;
    margin-left: 550px;
    top: 280px;

  } 

  .image-container-g img{
    position: absolute;
    width:400px;
    height:300px;
    margin-left: 1000px;
    top: 280px;

  } 

  .image-container-h img{
    position: absolute;
    width:600px;
    height:400px;
    margin-left: 50px;
    top: 200px;

  } 

  .image-container-i img{
    position: absolute;
    width:600px;
    height:400px;
    margin-left: 800px;
    top: 200px;

  } 
  .image-container-j img{
    position: absolute;
    width:600px;
    height:500px;
    margin-left: 400px;
    top: 150px;

  } 

  .container {
    display: flex;
  }
  
  .element {
    position: absolute;
    background-color:transparent;
    border:solid rgb(255, 255, 255) 10px;
    height: 10vh;
    width: 15vh;
    margin: 8px;
  }
  
  .element-1 {
    margin-left: 650px; 
    margin-top: 100px;
  }
  
  .element-2 {
    margin-left:1000px; 
    margin-top: 550px;
  }

  .element-3 {
    margin-left:80px; 
    margin-top: 250px;
  }

  .element-4 {
    margin-left:1000px; 
    margin-top: 550px;
  }
 
 